.agregar{
  color:black;
  padding: 0px;
}
.marca{
  text-align: center;
}
.sinpadding{
  padding: 0px;
}
li{
  width:100%;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

#encabezadoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenidoAltoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenidoBajoHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 600px;
}
#homeImg {
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  height: 400px;
}
body {
  background-image: url("../img/bgi1.jpg");
  background-color: black;
  z-index: -1000;
}
#productosMain {
  background-color: white;
}
